* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #000;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1207px;
  height: 703px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./mac.png');
}

.row0,
.row1,
.row2 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: #dadade;
  font-weight: lighter;
  font-family: sans-serif;
  text-transform: uppercase;
}

.row0 {
  top: 170.8px;
  left: 254px;
}

.row1 {
  top: 230px;
  left: 269px;
  margin-top: -0.3px;
}

.row2 {
  top: 289px;
  left: 300px;
  margin-top: -0.3px;
}

.kbd {
  margin: 3px 3.2px;
  height: 53.3px;
  width: 54.4px;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  border-radius: 6px;
  background: gray;
  user-select: none;
  animation: breathe 2s ease-in-out infinite;
  background: linear-gradient(to bottom, #2e2e31, #1e2022, #18191d);
}

@keyframes breathe {
  0% {
    color: #efefef;
  }

  50% {
    color: rgb(150, 150, 150);
  }

  100% {
    color: #efefef;
  }
}
/* 
form {
  padding-bottom: 50px;
  text-align: center;
}

input {
  display: inline-block;
  width: 300px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  border: none;
  border-bottom: 3px solid #050505;
  box-sizing: border-box;
  background: transparent;
}
input:focus {
  outline: none;
}
form a {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  font-family: 'Microsoft YaHei', '微软雅黑';
  text-decoration: none;
  border-radius: 8px;
  background: #050505;
}
form .baidu {
  margin: 0 10px;
}
form a:hover {
  cursor: pointer;
}
div {
  margin: 0 auto;
  width: 850px;
  text-align: center;
}
kbd {
  display: inline-block;
  margin: 6px;
  width: 71px;
  height: 69px;
  color: #fff;
  font-size: 20px;
  line-height: 69px;
  font-weight: 600;
  font-family: Georgia;
  background: #050505;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  transition: all 0.2s linear;
}
kbd:hover {
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.description {
  margin: 50px auto;
  width: 300px;
  color: #444;
  font-size: 14px;
  font-family: 'Microsoft YaHei', '微软雅黑';
}
.description span {
  font-weight: bold;
  color: #222;
}
.copyright {
  color: #222;
  font-size: 15px;
  text-align: center;
  font-family: 'Microsoft YaHei', '微软雅黑';
}
.copyright a {
  color: #000;
  text-decoration: underline;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
} */
